.parent-anchor {
  width: 50vw;
  height: 50vh;
  background-color: blue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
}

.bobbingElement {
  transition: all 10 ease-in;
  width: 100px;
  height: 100px;
  background: red;
  transform: scale(1);
  font-size: small;
}
.big {
  transform: scale(1.05);
}

.count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  font-size: large;
}

.floatingText {
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: large;
  animation: countTipMove 1s;
}

@keyframes countTipMove {
  from {
    top: 30%;
    opacity: 1;
  }
  to {
    top: 20%;
    opacity: 0;
  }
}

.image{
  height: 200px;
  width: 200px;
  transform: translateX(-20%);
  bottom: 70px;
  position: relative;
  
}