/* box */
.sp .contestantBox {
  width: 100vw;
  height: 100vh;
  border: black 3px solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp .instructions {
  position: absolute;
  bottom: 20%;
  font-size: 1.5rem;
  font-weight: bold;
}

.sp .bobbingImage {
  cursor: pointer;
  transition: all 10 ease-in;
  width: 300px;
  height: 300px;
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.sp .small {
  scale: 0.95;
}

.sp .floatingText {
  color: black;
  position: absolute;
  font-size: 48px;
  top: 30%;
  left: 50%;
  font-size: large;
  animation: countTipMove 1s;
}

@keyframes countTipMove {
  from {
    top: 30%;
    opacity: 1;
  }
  to {
    top: 20%;
    opacity: 0;
  }
}

.sp .iqCounter {
  font-size: 5rem;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp .big {
  scale: 1.1;
}

.sp .contestantBox .playerName {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10px;
  font-size: 2rem;
}

.sp .disable-click {
  pointer-events: none;
  cursor: not-allowed; /* Optional: Change cursor style to indicate it's not clickable */
}

/* clocks */

.sp .initialCountDown {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20rem;
  font-weight: bold;
}

.sp .gameTimer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: black;
  color: white;
  z-index: 3;
}
